.content {
  width: 712px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 768px) {
  .content {
    width: 80%;
  }
}

.content-questions {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content-btns {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-save {
  display: flex;
  justify-content: center;
  align-items: center;
}
